/*Importing Poppins Font Fron Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Importing Poppins Font Fron Google Fonts*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*CUSTOM SCROLLBAR CSS FROM W3 SCHOOLS*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*CUSTOM SCROLLBAR CSS FROM W3 SCHOOLS*/

/*To all Anchor Tags

    background: url(https://i.pinimg.com/originals/fe/c6/6d/fec66d649cb60a673fc9bee52380c3b1.gif);
*/
a {
  text-decoration: none;
  color: thistle;
}

.main {
  min-height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.make {
  height: 775.88px;
  padding: 35px;
  margin: 20px;
  width: 45%;
  box-shadow: 0 0 8px 5px #b421fe4b;
  padding-bottom: 30px;
}
.result{
  height: 775.88px;
  padding: 35px;
  margin: 20px;
  width: 55%;
  box-shadow: 0 0 8px 5px #b421fe4b;
}
.main h1 {
  padding-top: 10px;
  padding-bottom: 45px;
  color: #b621fe;
  font-size: 40px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.22);
}
.make h2 {
  font-weight: 500;
  font-size: 25px;
  color: #b621fe;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.22);
}
.make .forum {
  display: flex;
  margin-bottom: 40px;
}
.make .forum input {
  width: 100%;
  padding: 10px 25px 10px 25px;
  outline: none;
  margin-right: 10px;
}
.make .forum button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px 10px 25px;
  outline: none;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
/*FORM CHECK SWITCHES IMPORTED FROM BOOTSTRP CSS*/
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
  padding: 10px;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input:checked {
  background-color: #b621fe;
  border-color: #b621fe;
}
.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type="checkbox"]:indeterminate {
  background-color: #b621fe;
  border-color: #b621fe;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  opacity: 0.5;
}
.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;

}
@media (prefers-reduced-motion: reduce) {
  .form-switch .form-check-input {
    transition: none;
  }
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check:disabled + .btn,
.btn-check[disabled] + .btn {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}
.form-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-range:focus {
  outline: 0;
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-range::-moz-focus-outer {
  border: 0;
}
.form-check-input {
  clear: left;
}

.form-switch.form-switch-sm {
  margin-bottom: 0.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-sm .form-check-input {
  height: 1rem;
  width: calc(1rem + 0.75rem);
  border-radius: 2rem;
}

.form-switch.form-switch-md {
  margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.form-switch.form-switch-lg {
  margin-bottom: 1.5rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

.form-switch.form-switch-xl {
  margin-bottom: 2rem; /* JUST FOR STYLING PURPOSE */
}

.form-switch.form-switch-xl .form-check-input {
  height: 2.5rem;
  width: calc(4rem + 0.75rem);
  border-radius: 5rem;
}

/*FORM CHECK SWITCHES IMPORTED FROM BOOTSTRP CSS*/

.table{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.form-check-input{
  margin-right: 10px;
}
.form-check-label{
  font-weight: 600;
}
.result h1{
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.22);
}
.result h2 {
  font-weight: 500;
  font-size: 25px;
  color: #b621fe;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.22);
  text-transform: capitalize;
  margin-bottom: 50px;
}
.result textarea{
  width:  100%;
  outline: none;
  background-color: rgba(153, 153, 153, 0.185);
  color: purple;
  padding: 18px 8px;
}
.result button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px 10px 25px;
  outline: none;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}
.result .alignright{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 5px;
  padding-right: 10px;
  margin-bottom: 18px;
}
@media(max-width:1200px){
  .main{
    flex-direction: column;
  }
  .make{
    width: 100%;
    box-shadow: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.062);
  }
  .result{
    width: 100%;
    box-shadow: none;
  }
}
@media(max-width:500px){
  .make h1,.result h1{
    font-size: 35px;
    text-shadow: none;
    font-weight: 800;
    text-align: center;
  }
  .make h2, .result h2 {
    font-size: 20px;
  } 
}
@media(max-width:400px){
  .forum{
    flex-direction: column;
  }
  .forum input{
    margin-bottom: 8px;
  }
  .make{
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .result{
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media(max-width:100px){
  #block1{
    display: block;
  }
}
